.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px;
    background: #ebecf0;
    border-radius: 10px;
    min-width: 282px;
    max-height: 538px;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    width: 12px;
}

.list::-webkit-scrollbar-track {
    background: #fff;
    margin-top: 29px;
    margin-bottom: 15px;
}

.list::-webkit-scrollbar-button {
    display: none;
}

.list::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 5px;
}

.list__title,
.list__text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}

.list__title {
    text-transform: capitalize;
}

.list__items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 246px;
}

.list__item {
    background: #ffffff;
    min-width: 246px;
    padding-right: 20px;
    border-radius: 5px;
    word-wrap: break-word;
}

.list__item:last-child {
    margin-bottom: 0;
}

.list__text {
    margin: 7px 8px 7px 8px;
}

.link {
    text-decoration: none;
    color: #000000;
    display: flex;
    margin-bottom: 22px;
}


@media (max-width: 1000px) {
    .list {
        margin-bottom: 50px;
    }

    .list:last-child {
        margin-bottom: 0;
    }
}